/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.full-height {
  height: 94vh;
}

.modal {
  position: fixed;
  z-index: 1000;
  background-color: #ffffffd6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
