@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap");
.bold {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700 !important;
}

.extra-bold {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900 !important;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #213555;
  font-family: "Red Hat Display", sans-serif !important;
  padding-top: 56px;
  background: #ffffff;
}

.btn-primary {
  background: #7ABFFF;
  border: none;
}
.btn-primary:hover {
  background: #213555;
  color: #ffffff;
}

.pulse-button {
  text-align: center;
  color: #213555;
  border: none;
  background: #E5D283;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(240, 188, 0, 0.385);
  -webkit-animation: pulse 1.5s infinite;
}
.pulse-button:hover {
  background: #cb9f00;
  color: #ffffff;
}

.pulse-offer {
  -webkit-animation: pulse 1.5s infinite;
}

.pulse-button:hover {
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
.text-dark {
  color: #213555 !important;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  -webkit-backdrop-filter: blur(10px) !important;
  /* Safari */
  backdrop-filter: blur(10px) !important;
  /* Standard */
  background-color: rgba(255, 255, 255, 0.4823529412) !important;
  /* Adjust opacity as needed */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
@keyframes scroll-reverse {
  0% {
    transform: translateX(-1750px);
  }
  100% {
    transform: translateX(0);
  }
}
.slider {
  background: #ffffff;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 60vh;
}
.slider::before, .slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}
.slider .slide {
  height: 500px;
  width: 100%;
  border: 2px solid #7ABFFF;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}
.slider .slide video {
  position: relative;
  object-fit: cover;
  /* Ensure the video fills the container without stretching */
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.slider-logo {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider-logo::before, .slider-logo::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider-logo::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider-logo::before {
  left: 0;
  top: 0;
}
.slider-logo .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}
.slider-logo .slide-track-reverse {
  animation: scroll-reverse 40s linear infinite;
  display: flex;
  width: 3500px;
}
.slider-logo .slide {
  height: 100px;
  width: 250px;
}

.video-container {
  overflow: hidden;
  width: 50%;
  height: 100%;
}

.video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card {
  border: 1px solid #d7d7d7;
}

.image-container {
  height: 50vh;
  /* Set a fixed height */
  overflow: hidden;
  /* Hide any overflowing content */
}

.image-container img {
  width: 100%;
  /* Ensure the image fills the container horizontally */
  height: 100%;
  /* Ensure the image fills the container vertically */
  object-fit: cover;
  /* Maintain aspect ratio; cover the container */
}

#services .wrap {
  background: #ffffff;
}
#services .wrap:hover {
  border: 1px dashed black;
  cursor: pointer;
}
#services .ico-wrap {
  margin: auto;
}
#services .mbr-iconfont {
  font-size: 4.5rem !important;
  color: #313131;
  margin: 1rem;
  padding-right: 1rem;
}
#services .vcenter {
  margin: auto;
}
#services .mbr-section-title3 {
  text-align: left;
}
#services h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#services .display-5 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
}
#services .mbr-bold {
  font-weight: 700;
}
#services p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 25px;
}
#services .display-6 {
  font-family: "Source Sans Pro", sans-serif;
}

#about {
  display: grid;
  place-items: center;
  line-height: 1.2;
}
#about .cards {
  position: relative;
}
#about .cards__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
}
#about .cardabout {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  flex: 1 1 14rem;
  padding: 1.5em 2em;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  gap: 1.25em;
  color: #213555;
  border: 1px solid #213555;
  border-radius: 15px;
}
#about .active {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  flex: 1 1 14rem;
  padding: 1.5em 2em;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  gap: 1.25em;
  border: 1px solid #7ABFFF !important;
  border-radius: 15px;
}
#about .cardabout:nth-child(1) {
  --hue: 398.69;
  --saturation: 82.26%;
  --lightness: 51.37%;
}
#about .cardabout:nth-child(2) {
  --hue: 211.34;
  --saturation: 95.9%;
  --lightness: 61.76%;
}
#about .cardabout:nth-child(3) {
  --hue: 338.69;
  --saturation: 100%;
  --lightness: 48.04%;
}
#about .card__heading {
  background-image: url(/images/logo-blue.png);
  background-size: cover;
  min-height: 100px; /* Adjust the height as needed */
  min-width: 100px; /* Adjust the width as needed */
}
#about .card__price {
  font-size: 1.75em;
  font-weight: 700;
}
#about .flow > * + * {
  margin-top: var(--flow-space, 1.25em);
}
#about .cta {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #7ABFFF;
  border: #7ABFFF solid 2px;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}
#about .overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(25rem 25rem at var(--x) var(--y), #000 1%, transparent 50%);
  mask: radial-gradient(25rem 25rem at var(--x) var(--y), #000 1%, transparent 50%);
  transition: 400ms mask ease;
  will-change: mask;
}
#about .overlay .cardabout {
  background-color: hsla(var(--hsl), 0.15);
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}
#about .overlay .active {
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}
#about .overlay .cta {
  display: block;
  grid-row: -1;
  width: 100%;
  background-color: hsl(var(--hsl));
  box-shadow: 0 0 0 1px hsl(var(--hsl));
}
#about :not(.overlay) > .cardabout {
  transition: 400ms background ease;
  will-change: background;
}
#about :not(.overlay) > .cardabout:hover {
  background: hsla(var(--hsl), 0.1);
}
#about :not(.overlay) > .active {
  transition: 400ms background ease;
  will-change: background;
}
#about :not(.overlay) > .active:hover {
  background: #213555;
  color: #ffffff;
  --lightness: 90%;
}
#about :not(.overlay) > .active:hover .card__heading {
  background-image: url(/images/logo-white.png);
  background-size: cover;
  min-height: 100px; /* Adjust the height as needed */
  min-width: 100px; /* Adjust the width as needed */
}
#about :not(.overlay) > .active:hover .cta {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

#footer a {
  color: #213555;
}/*# sourceMappingURL=style.css.map */